<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-hide-home-indicator" version="1.0.0">
    <name>Hide Home Indicator</name>
    <description>Hides the iOS 11 home indicator</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ios,home</keywords>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HideHomeIndicatorPlugin">
                <param name="ios-package" value="HideHomeIndicatorPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/HideHomeIndicatorPlugin.h" />
        <source-file src="src/ios/HideHomeIndicatorPlugin.m" />
    </platform>
</plugin>
